
@{
    ViewData["Title"] = "Callback";
}

<h2>Callback</h2>

<script src="/js/oidc-client.js"></script>
<script>
        new Oidc.UserManager().signinRedirectCallback().then(function () {
            window.location = "home/ids";
        }).catch(function (e) {
            console.error(e);
        });
</script>